extends base.pug
include mixins/videos

block content
  form(method="GET")
    input(placeholder="Search By Title", name="keyword")
    input(type="submit", value="Search")
  
  div
    each video in videos
      +videos(video) 